In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import os
from io import BytesIO
from PIL import Image
import cv2
import re

## Самый эффективный способ усреднять - просто брать среднюю метку.

In [42]:
subm_df = pd.read_csv("test_rn34_04_2.csv")
columns = subm_df.columns
print(subm_df.shape)
pred = []
for g in subm_df.groupby("UID"):
    p = g[1]["pred"]**2
    #print(g[1]["UID"].unique()[0])
    pred.append([g[1]["UID"].unique()[0], g[1]["img_name"].unique()[0], np.max(np.min([np.sqrt(p.mean()), 6]),0)+1])
subm_df = pd.DataFrame(data = pred, columns = columns)

subm_df.head()

(53370, 3)

        UID       img_name      pred
0  01nUuQaf  01nUuQaf.jpeg  1.696746
1  02QNbFW3  02QNbFW3.jpeg  2.988216
2  02l3WRi5  02l3WRi5.jpeg  3.780100
3  02r3NCOn  02r3NCOn.jpeg  3.431263
4  03DVBfql  03DVBfql.jpeg  2.021711

In [43]:
def trash_round(x):
    if abs(round(x) - x) < 0.1:
        return round(x)
    else: 
        return x
subm_df["pred"] = subm_df["pred"].apply(lambda x: trash_round(x))

In [44]:
subm_df["pred"].describe()

count    3558.000000
mean        3.697835
std         1.365071
min         1.134551
25%         3.000000
50%         3.595095
75%         4.259142
max         7.000000
Name: pred, dtype: float64

In [45]:
subm_sample = pd.read_csv("SampleSubmission.csv")
subm_sample.head()

        UID  growth_stage
0  F3LbWkZq             0
1  6P4wLVzI             0
2  Tn6HIrdS             0
3  EYM5R1TK             0
4  fkcevlA0             0

In [46]:
subm_df = subm_sample.merge(subm_df, on="UID", how="left")
subm_df.head()

        UID  growth_stage       img_name      pred
0  F3LbWkZq             0  F3LbWkZq.jpeg  4.429251
1  6P4wLVzI             0  6P4wLVzI.jpeg  3.507466
2  Tn6HIrdS             0  Tn6HIrdS.jpeg  2.823041
3  EYM5R1TK             0  EYM5R1TK.jpeg  4.266083
4  fkcevlA0             0  fkcevlA0.jpeg  5.846145

In [47]:
subm_df.shape

(3558, 4)

In [48]:
submission = pd.DataFrame(data = subm_df[["UID", "pred"]].to_numpy(), columns=["UID", "growth_stage"])  
submission.to_csv("submission_0410_rn34_2.csv", index=False)

In [49]:
submission.shape

(3558, 2)